<!doctype html>
<html>

<head>
  <title>Gym App - Profil</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <style>
    body {
      word-wrap: break-word;
    }
    .container {
      flex-direction: column;
    }
    table {
      margin-top: 20px;
    }

    input {
      background: #3d454c;
      border: none;
      width: 100%
    }
    .select {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .name {
      pointer-events: none;
    }
    #trainingName {
      pointer-events: none;
    }
    #trainingName,
    #date {
      background-color: #fff;
      width: 49%;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body>

  <div class="container d-flex justify-content-center">

    <form action="/addLog" method="post">

      <div>
        <input name="trainingName" id="trainingName" />
        <input type="date" id="date" name="date" required />
        <div class="table-responsive">


          <table class="table table-dark table-striped" id="table">


            <thead>
              <tr>
                <th style="width:10%">
                  Numer:
                </th>
                <th style="width:30%">
                  Nazwa:
                </th>
                <th style="width:10%">
                  Serie:
                </th>
                <th style="width:10%">
                  Powtorzenia:
                </th>

                <th style="width:10%">
                  RPE:
                </th>
                <th style="width:10%">
                  Ciężar:
                </th>
              </tr>

            </thead>




            <tbody class="append1">


            </tbody>

          </table>
        </div>

        <button type="submit" class="btn btn-success btn-lg">Dodaj wpis</button>
      </div>
    </form>

  </div>
  <script>
    $(document).ready(function() {
      var text = [];
      if ("<%- exercises.exercise1.name %>" != '') {
        text.push("<%- exercises.exercise1.name %>")
      }
      if ("<%- exercises.exercise2.name %>" != '') {
        text.push("<%- exercises.exercise2.name %>")
      }
      if ("<%- exercises.exercise3.name %>" != '') {
        text.push("<%- exercises.exercise3.name %>")
      }
      if ("<%- exercises.exercise4.name %>" != '') {
        text.push("<%- exercises.exercise4.name %>")
      }
      if ("<%- exercises.exercise5.name %>" != '') {
        text.push("<%- exercises.exercise5.name %>")
      }
      if ("<%- exercises.exercise6.name %>" != '') {
        text.push("<%- exercises.exercise6.name %>")
      }
      if ("<%- exercises.exercise7.name %>" != '') {
        text.push("<%- exercises.exercise7.name %>")
      }
      if ("<%- exercises.exercise8.name %>" != '') {
        text.push("<%- exercises.exercise8.name %>")
      }
      if ("<%- exercises.exercise9.name %>" != '') {
        text.push("<%- exercises.exercise9.name %>")
      }
      if ("<%- exercises.exercise10.name %>" != '') {
        text.push("<%- exercises.exercise10.name %>")
      }

      console.log(text)
      for (var i = 0; i < text.length; i++) {



        $('#trainingName').val('<%= exercises.dayName %>');

        var newTr = document.createElement('tr');
        newTr.className = "excercise" + (i);

        var number = document.createElement('td');
        var numberA = document.createElement('a');
        numberA.name = "number" + (i);
        numberA.innerHTML = i;


        var name = document.createElement('td');
        var nameInput = document.createElement('input');
        nameInput.name = 'name' + i
        nameInput.type = "text";
        nameInput.className = "name"
        nameInput.value = text[i];


        var series = document.createElement('td');
        var seriesInput = document.createElement('input');
        seriesInput.name = "series" + (i);
        seriesInput.type = "number";

        var reps = document.createElement('td');
        var repsInput = document.createElement('input');
        repsInput.name = 'reps' + (i);
        repsInput.type = 'number';

        var rpe = document.createElement('td');
        var rpeInput = document.createElement('input');
        rpeInput.name = 'rpe' + (i);
        rpeInput.type = 'number';

        var weight = document.createElement('td');
        var weightInput = document.createElement('input');
        weightInput.name = 'weight' + (i);

        $('.append1').append(newTr);

        newTr.append(number);
        number.append(numberA);

        newTr.append(name);
        name.append(nameInput);

        newTr.append(series);
        series.append(seriesInput);

        newTr.append(reps);
        reps.append(repsInput);

        newTr.append(rpe);
        rpe.append(rpeInput);

        newTr.append(weight);
        weight.append(weightInput);

      };
    })
  </script>
</body>

</html>
